* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
//Biến về font size
$fs-1: 40px;
$fs-2: 24px;
$fs-3: 20px;
$fs-4: 16px;
$fs-5: 16px;

//Biến về màu sắc
$color-button-1: #f8b653;
$color-item: #f8f8f8;
$color-bg-footer-2: #ececec;
$color-bg-footer-1: #fafafa;
$color-copyright: #d9d9d9;
$color-top: #000000;
$color-link: #db827d;
$color-bg-product: #f8f8f8;
$color-price: #dedddc;

$color-button-banner: #f8b653;
$color-buy-btn: #e1b067;
$color-bg-price: #dedddc;
$color-description: #cbc9c9;
$color-bg-size: #cbcbcb;
$color-border: #987aec;
$color-blue: #6e8cf4;
$color-purple: #ae18e2;

//Biến font-weight
$fw-bold: bold;
$fw-high: 600;
$fw-medium: 500;
$fw-regular: 400;
$fw-thin: 300;
$fw-slim:200;

$box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

* {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

//Mixin
@mixin styleHeading($font-size) {
  font-weight: $fw-bold;
  font-size: $font-size;
  color: $color-blue-1;
}

@mixin linkFeature($color) {
  color: $color;
}
@mixin titleStyle() {
  font-size: $fs-1;
  font-weight: $fw-medium;
  text-align: center;
  margin-bottom: 30px;
}
p {
  font-size: $fs-3;
  font-weight: $fw-regular;
  text-align: left;
}
//header

.header_content {
  display: flex;
  justify-content: space-between;
  background-color: $color-top;
  padding: 10px 0;
  line-height: 30px;

  .shopping-cart {
    display: flex;
    justify-content: space-between;

    .cart {
      display: flex;
      align-items: center;

      img {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }

      .update-cart {
        color: #ececec;
        font-size: 25px;
        line-height: 30px;
      }
    }
    .login-register {
      a {
        text-decoration: none;
        color: #ececec;
        margin-right: 10px;
      }
    }
  }
}

nav {
  padding-top: 20px;
  ul {
    list-style-type: none;

    li {
      margin-right: 20px;
      display: inline-block;
      position: relative;
      padding-bottom: 10px;
      a {
        text-decoration: none;
        color: black;
        line-height: 24.2px;
        font-weight: $fw-regular;
        font-size: $fs-3;
      }
      &::after {
        position: absolute;
        content: "";
        width: 0;
        height: 3px;
        left: 0;
        bottom: 0;
        background-color: #000000;
        transition: all 0.5s;
      }

      &.active {
        &::after {
          width: 100%;
        }
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.banner {
  padding-bottom: 50px;
  .menu-slider {
    position: relative;
    padding: 0 30px;
  }

  .slider {
    .slider {
      padding: 0 40px;
    }
    .banner-content {
      img {
        max-width: 100%;
      }
    }
    .arrow-prev {
      position: absolute;
      padding: 3px 15px;
      border-radius: 4px;
      background: #DEDDDC;
      top: 50%;
      left: -50px;
      cursor: pointer;
      &:hover {
        background: #E1B067;
      }

      .arrow {
        i {
          transform: rotate(-180deg);
        }
      }

      .arrow-next {
        position: absolute;
        top: 50%;
        right: -50px;
        padding: 3px 15px;
        border-radius: 4px;
        background: #DEDDDC;
        cursor: pointer;
        &:hover {
          background: #E1B067;
        }
      }
    }
  }



}

//Product Features
.product-features {
  padding: 40px 0;
  h2 {
    text-align: center;
  }
  .product-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin: 30px 0;

    .product-item {
      box-shadow: $box-shadow;
      border-radius: 5px;
      margin: 0 auto;

      position: relative;
      img {
        width: 100%;
      }

      .product-overlay-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      background-color: $color-bg-product;

      .product-short {
        h3 {
          padding: 10px 20px;
          font-size: $fs-4;
        }

        p {
          padding: 10px 20px;
        }
      }
      .product-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        button {
          background-color: $color-button-1;
          border: none;
          // padding: 5px 15px;
          width: 50%;
          // height: 100%;
          padding: 10px 0;
        }

        p {
          background-color: $color-price;
          width: 50%;
          // padding: 5px 15px;
          height: 100%;
          padding: 10px 0;
          text-align: center;
          margin-bottom: 0;
        }
      }
    }
  }
}

footer {
  .info {
    background-color: $color-bg-footer-1;
    .footer-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 0px;

      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
      }

      a {
        text-decoration: none;
        color: black;
      }

      h3 {
        font-weight: bold;
        font-size: 1.5rem;
      }

      .link-feature {
        @include linkFeature($color-link);
        &:hover {
          color: #f06f06f6;
        }
      }
    }
  }

  .contact {
    background-color: $color-bg-footer-2;
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 0px;

      a {
        text-decoration: none;
      }

      h3 {
        font-weight: bold;
        font-size: 1.5rem;
      }

      .link-feature {
        @include linkFeature($color-link);
        &:hover {
          color: #f06f06f6;
        }
      }
    }
  }

  .copyright {
    text-align: center;
    background-color: $color-copyright;
    padding: 12px 0;
  }
}

//Cart
.cart {
  .cart-table {
    table {
      tr {
        td {
          img {
            width: 100px;
            height: 50px;
          }
        }
      }

      .plus-quantity {
        background-color: #6200ee;
        color: white;
        padding: 2px 3px;
        margin-right: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      }
    }

    .button-submit {
      text-align: right;
    }
  }
}




// REGISTER PAGE
.register {
  margin: 50px 0;
  .register_title {
    @include titleStyle;
  }
  .register_content {
    .content {
      gap: 100px;
      .row {
        margin-top: 5px;
        .field {
          border-bottom: solid 2px $color-border;
          align-items: center;
          padding: 0;
          &::after {
            content: "(*)";
            position: absolute;
            right: 0;
            bottom: 0;
            color: red;
            z-index: 9;
          }
          label {
            margin-bottom: 0;
          }
          input {
            border: none;
            &:focus {
              box-shadow: none;
            }
          }
          
        }
        &:last-child {
          .input-group {
            justify-content: space-between;
            padding: 0;
            .form-check {
              margin-bottom: 0;
              input {
                background-color: $color-copyright;
                border: none;
                width: 1.75rem;
                height: 1.25rem;
                border-radius: 50%;
                margin-right: 5px;
                &:focus {
                  border: none;
                  box-shadow: none;
                }

                &:checked[type="radio"] {
                  background-image: none;
                  position: relative;

                  &::after {
                    content: "";
                    width: 1rem;
                    height: 0.7rem;
                    background-color: #ae18e2;
                    position: absolute;
                    border-radius: 50%;
                    left: 25%;
                    transform: translateX(-25%);
                    top: 50%;
                    transform: translateY(-50%);
                  }
                }
              }
            }
          }
          button {
            background-color: #6e8cf4;
            border: none;
            border-radius: 0;
            width: 40%;
          }
        }
        &:first-child{
          .field{
            #result{
              position: absolute;
              left: 0;
              bottom: -16px;
              font-size: 10px;
              padding: 0px;
              margin-bottom: 0px !important;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

// DETAIL PAGE
.product {
    
  margin-bottom: 50px;
  .product_image{
    background-color: $color-item;
    width: 334px;
    height: 335px;
  }
  .product_detail {
    .product_info {
      h3 {
        color: #72cc6a;
        margin-top: 10px;
      }
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        li {
          background-color: $color-bg-size;
          width: 50px;
          height: 50px;
          text-align: center;
          line-height: 50px;
          margin-right: 10px;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
      }
      .price {
        color: #cd3f3c;
        font-weight: bold;
      }
      .select_product {
        display: flex;
        align-items: center;
        button {
          background-color: $color-blue;
          border-radius: 0;
          border: none;
        }
        .selected_number {
          margin: 0 20px;
        }
      }
      button.add-card {
        border-radius: 0;
        background-image: linear-gradient(
          to right,
          #cc19e8,
          $color-purple,
          #5831fe
        );
        border: none;
        margin-top: 10px;
      }
    }
  }
  .related_product {
    .title {
      font-size: $fs-1;
      font-weight: $fw-regular;
      line-height: 48px;
      letter-spacing: 0em;
      text-align: center;
      margin-top: 50px;
    }
    .row {
      .related_product_item {
        .related_image{
            background-color: $color-item;
            text-align: center;
            margin-bottom: 20px;
        }
        .related_content {
          h3 {
            font-size: $fs-2;
            font-weight: $fw-thin;
            line-height: 29px;
            letter-spacing: 0em;
          }
          h2 {
            font-size: $fs-5;
            font-weight: $fw-thin;
            line-height: 24px;
            letter-spacing: 0em;
            color: $color-description;
            margin: 20px 0;
            height: 65px;
          }
          .button_group {
            button {
              background-color: $color-button-1;
              border: none;
              border-radius: 0;
              font-size: $fs-4;
              font-weight: $fw-slim;
              line-height: 29px;
              letter-spacing: 0em;
              text-transform: uppercase;
              color: black;
              width: 50%;
            }
            label {
              font-size: $fs-4;
              font-weight: $fw-high;
              line-height: 29px;
              letter-spacing: 0em;
              background-color: $color-bg-price;
              width: 50%;
              padding: 6px 0;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
